/* grid of cards */
main .deck{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 16px;
}

main .card{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 90px;
    height: 130px;
    border-radius: 8px;
    background-image: url('../img/cards/card\ texture.png');
    background-position: center;
    background-size: cover;

}

.card div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90px;
    height: 130px;
    background-image: url('../img/cards/card\ texture\ 2.png');
    background-position: center;
    background-size: cover;
    display: none;
}

/* end grid of cards */