body{
    font-family: "Montserrat",  sans-serif;
    background-image: url('../img/bg/bg.png');
    background-repeat: no-repeat;
    background-size: fill;
}

/* estyle for main */

.main{
    display: flex;
    width: 100vw;
    height: 100vh;
    padding: 40px;
}

/* end style for main */

/* title styles */

.main .title{
    display: flex;
    flex: 1;
    align-items: center;

}

.title h1{
    color: #fff;
    font-size: 250px;
    font-weight: 900;
    line-height: 85%;
    letter-spacing: 0%;
    text-transform: capitalize;
}

/* end title styles */